<div class="container-fluid">

    <h1>Login</h1>

    <h3 ng-show="model.message"
        class="alert alert-info">{{model.message}}</h3>
    <label for="username">Username</label>
    <input ng-model="username"
           id="username"
           type="text"
           class="form-control"
           placeholder="eric_1"/>
    <label for="password">Password</label>
    <input ng-model="password"
            id="password"
           type="password"
           class="form-control"
           placeholder="whgn9687piunvh"/>
    <a ng-click="model.login(username, password)"
       class="btn btn-primary btn-block">
        Login
    </a>
    <a href="/auth/facebook" class="btn btn-danger btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>
    <a class="btn btn-success btn-block"
       href="#!/register">Register</a>
</div>