input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
    overflow-x: hidden;
}

input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 5px;
}

nav.navbar.navbar-default.navbar-fixed-top {

}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

nav.navbar.navbar-default.navbar-fixed-top div.container-fluid div.navbar-header {
    width: 100%;
}

nav.navbar-default {
    background: darkkhaki;
}

nav.navbar.navbar-default .navbar-brand {
     color: white;
 }

nav.navbar.navbar-default .navbar-link {
    color: white;
}

nav.navbar.navbar-default a {
    color: white;
}

.wd-widget {
    margin-bottom: 10px;
}

.wd-widget > img {
    width: 100%;
}

.wd-widget > .wd-widget-toolbar {
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.9;
    padding: 5px;
    border-bottom-left-radius: 10px;
    z-index: 2;
}

.wd-youtube-dynamic {
    position: relative;
    padding-bottom: 55%;
    height:0;
}

.wd-youtube-dynamic iframe {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
}

.wd-youtube-dynamic .wd-widget-toolbar {
    position: absolute;
    right: 0px;
    background: white;
    opacity: 0.9;
    padding: 5px;
    border-bottom-left-radius: 10px;
}

.wd-standalone-link {
    padding-top: 10px;
}

.wd-padded-btn {
    margin-top: 5px;
}

.wd-btn-facebook {
    color: #FFFFFF;
    background-color: #3b5998;
}