#courseSearchBar {
    padding-top: 15px;
}

#searchResults {
    padding-top: 15px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

.wd-iconLink {
    color: white;
}

.wd-submitButton {
    margin-top: 15px;
}

.wd-spacedField {
    margin-top: 5px;
}