<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="widget-list.view.client.html">
                <span class="glyphicon glyphicon glyphicon-menu-left"></span>
            </a>
            <a class="navbar-brand" href="#">
                Widget Selector
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-choose.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="wd-standalone-link">
        <a href="widget-heading-edit.view.client.html" class="navbar-link">
            <span>Header</span>
        </a>
    </div>
    <div class="wd-standalone-link">
        <a href="widget-heading-edit.view.client.html" class="navbar-link">
            <span>Image</span>
        </a>
    </div>
    <div class="wd-standalone-link">
        <a href="widget-youtube-edit.view.client.html" class="navbar-link">
            <span>Youtube</span>
        </a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>