<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon glyphicon-menu-left"></span>
            </a>
            <a class="navbar-brand">Edit Heading</a>
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

            <label for="name">Name</label>
            <input ng-model="model.widget.name"
                   class="form-control"
                   id="name"
                   placeholder="top heading">
            <label for="text">Text</label>
            <textarea ng-model="model.widget.text"
                      class="form-control"
                      id="text"
                      rows="5"
                      placeholder="news site">
            </textarea>
            <label for="heading-size">Size</label>
            <input id="heading-size"
                   ng-model="model.widget.size"
                   type="number"
                   placeholder="1"
                   min="1"
                   max="6">
    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-block btn-danger">Delete</a>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>