<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Widget List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../../page/templates/page-list.html">
                <span class="glyphicon glyphicon glyphicon-menu-left"></span>
            </a>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-choose.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="wd-widget">
        <div class="wd-widget-toolbar">
            <a href="widget-heading-edit.html"><span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>Gizmodo</h1>
    </div>
    <div class="wd-widget">
        <div class="wd-widget-toolbar">
            <a href="widget-heading-edit.html"><span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>Vienna Game Developers Are Using The City's Coffeehouse Culture To Create A New Kind Of Arcade</h3>
    </div>
    <div class="wd-widget">
        <div class="wd-widget-toolbar">
            <a href="widget-image-edit.html"><span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--vkEy2BuQ--/c_scale,fl_progressive,q_80,w_800/mudtqtexy5bgiqoeyb1v.png"/>
    </div>
    <div class="wd-widget">
        <div class="wd-widget-toolbar">
            <a href="widget-heading-edit.html"><span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p>The rise and fall of arcades have in large part shaped how we think about playing video games together in public places, but in their absence, young designers are finding new ways to bring social gaming out into the open.</p>
        <p>Austrian for “playing together,” <a href="http://zamspielen.tumblr.com/" target="_blank" rel="noopener">zamSpielen</a> is a small crew of designers and programmers trying to take video games out of living rooms and stick them in more unusual contexts. The Viennese collective consists of creators from the indie studio <a href="http://brokenrul.es/" target="_blank" rel="noopener">Broken Rules</a> (makers of <em>Secrets of Rætikon</em> and several other small games), game developer <a href="http://subotron.com/" target="_blank" rel="noopener">Josef “Who” Wiesner</a>, and coding teacher Matthias Menrath who came together seven years ago in the hopes of giving the city’s games scene a more material presence.<br></p>
        <p>“We want to bring people together via games,” Wiesner said in an email. “But always next to each other at the same spot cause that is the most interesting and complete form of being with each other we think.”</p>
    </div>
    <div class="wd-widget">
        <div class="wd-youtube-dynamic">
            <iframe src="https://www.youtube.com/embed/Fbfe3dH4LDs" frameborder="0" allowfullscreen></iframe>
            <div class="wd-widget-toolbar">
                <a href="widget-youtube-edit.html"><span class="glyphicon glyphicon-cog"></span></a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
        </div>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>

</body>
</html>