<div class="container-fluid">
    <h3 ng-show="editWidgetForm.$submitted && editWidgetForm.name.$invalid"
        class="alert alert-danger">Widget name is required</h3>
    <label for="name">Name</label>
    <input ng-model="model.widget.name"
           name="name"
           class="form-control"
           id="name"
           placeholder="Dog Video"
           value="Cat video!"
           required>
    <label for="text">Text</label>
    <textarea ng-model="model.widget.text"
              class="form-control"
              id="text"
              rows="5"
              placeholder="Look at that dog!"></textarea>
    <label for="url">URL</label>
    <input id="url"
           ng-model="model.widget.url"
           type="url"
           class="form-control"/>
    <label for="width">Width (1%-100%)</label>
    <input ng-model="model.widget.width"
           id="width"
           type="text"
           class="form-control"
           placeholder="1%"/>
    <a ng-click="model.deleteWidget(model.pageId, model.widgetId)"
       class="btn btn-block btn-danger">Delete</a>

    <div ng-model="model.widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>
    <input type="submit"
           value="Update"
           ng-click="model.updateWidget(model.widget)"
           class="btn btn-block btn-success"/>

</div>