<div class="container-fluid">

    <label for="name">Name</label>
    <input ng-model="model.widget.name"
           class="form-control"
           id="name"
           placeholder="Dog Video"
           value="Cat video!">
    <label for="text">Text</label>
    <textarea ng-model="model.widget.text"
              class="form-control"
              id="text"
              rows="5"
              placeholder="Look at that dog!"></textarea>
    <label for="url">URL</label>
    <input id="url"
           ng-model="model.widget.url"
           type="url"
           class="form-control"/>
    <label for="width">Width (1%-100%)</label>
    <input ng-model="model.widget.width"
           id="width"
           type="text"
           class="form-control"
           placeholder="1%"/>
    <a ng-click="model.deleteWidget(model.pageId, model.widgetId)"
       class="btn btn-block btn-danger">Delete</a>

</div>