<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="website-list.view.client.html">
                <span class="glyphicon glyphicon glyphicon-menu-left"></span>
            </a>
            <a class="navbar-brand" href="#">
                Edit Website
            </a>
            <p class="navbar-text pull-right">
                <a href="#" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 hidden-sm hidden-xs">
            <div class="container-fluid">
                <ul class="list-group">
                    <li class="list-group-item active">
                        <div class="row">
                            <div class="col-xs-10">Name</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10"><a href="../../page/templates/page-list.view.client.html">Cras justo odio</a></div>
                            <div class="col-xs-2 "><a href="website-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10"><a href="../../page/templates/page-list.view.client.html">Dapibus ac facilisis in</a></div>
                            <div class="col-xs-2"><a href="website-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10"><a href="../../page/templates/page-list.view.client.html">Morbi leo risus</a></div>
                            <div class="col-xs-2"><a href="website-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10"><a href="../../page/templates/page-list.view.client.html">Porta ac consectetur ac</a></div>
                            <div class="col-xs-2"><a href="website-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10"><a href="../../page/templates/page-list.view.client.html">Vestibulum at eros</a></div>
                            <div class="col-xs-2"><a href="website-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <label for="name">Name</label>
            <input ng-model="model.website.name"
                    class="form-control"
                   id="name"
                   placeholder="cnn">
            <label for="description">Description</label>
            <textarea ng-model="model.website.description"
                      id="description"
                      class="form-control"
                      rows="5"
                      placeholder="news site"></textarea>
            <a href="website-list.view.client.html"
               class="btn btn-block btn-success">Update</a>
            <a ng-click="model.deleteWebsite(model.website._id)"
               class="btn btn-block btn-danger">Delete</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>