<h3>Followers List</h3>
<ul class="list-group">
    <li class="list-group-item active">
        <div class="row">
            <div class="col-md-5 col-sm-8 col-xs-10">Friend ID</div>
        </div>
    </li>
    <li ng-repeat="friend in model.user.friends" class="list-group-item">
        <div class="row">
            <div class="col-md-5 col-sm-8 col-xs-10"><a href="#!/user/{{model.userId}}/website/{{website._id}}/page">{{friend}}</a></div>
            <div class="col-sm-3 visible-sm visible-md visible-lg">{{website.dateCreated | date : 'short'}}</div>
            <div class="col-md-3 visible-lg visible-md">{{website._user.username}}</div>
            <div class="col-sm-1 col-xs-2 "><a href="#!/user/{{model.userId}}/website/{{website._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a></div>
        </div>
    </li>
</ul>