<h3>Friend List</h3>
<ul class="list-group">
    <li class="list-group-item active">
        <div class="row">
            <div class="col-xs-8">Friend ID</div>
            <div class="col-xs-4">
                <a ng-show="!model.originalId"
                   href="#!/users"
                   class="wd-iconLink">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </a>
            </div>
        </div>
    </li>
    <li ng-repeat="friend in model.user.friendList" class="list-group-item">
        <div class="row">
            <div class="col-xs-12"><a href="#!/user/{{friend._id}}">{{friend.username}}</a></div>
        </div>
    </li>
</ul>