<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/login">
                <span class="glyphicon glyphicon glyphicon-menu-left"></span>
            </a>
            <a class="navbar-brand">
                Guest View
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12">
            <a class="btn btn-primary btn-block"
               href="#!/guest/users">Browser Users</a>
            <a class="btn btn-primary btn-block"
               href="#!/guest/curriculum">Browse Curriculum</a>
            <a class="btn btn-primary btn-block"
               href="#!/guest/course">Search Courses</a>
            <a class="btn btn-primary  btn-block"
               href="#!/register">Register</a>
        </div>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>