<div class="container-fluid">

    <h1>Login</h1>

    <h3 ng-show="model.message"
        class="alert alert-info">{{model.message}}</h3>
    <label for="username">Username</label>
    <input ng-model="username"
           id="username"
           type="text"
           class="form-control"
           placeholder="eric_1"/>
    <label for="password"
           class="wd-spacedField">Password</label>
    <input ng-model="password"
            id="password"
           type="password"
           class="form-control"
           placeholder="whgn9687piunvh"/>
    <a ng-click="model.login(username, password)"
       class="btn btn-primary btn-block wd-spacedField">
        Login
    </a>
    <a href="/auth/google" class="btn btn-danger btn-block">
        <span class="fa fa-google-plus"></span>
        Google
    </a>
    <a ng-click="model.guestBrowse()"
       class="btn btn-info btn-block">
        Browse as a Guest
    </a>
    <a class="btn btn-success btn-block"
       href="#!/register">Register</a>
</div>