<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div ng-show="model.error"
                 class="alert alert-danger">{{model.error}}</div>
            <div ng-show="model.message"
                 class="alert alert-info">{{model.message}}</div>
        </div>
        <div class="col-xs-6">
            <div ng-include="'views/user/templates/user-details.view.client.html'"></div>
        </div>
        <div class="col-xs-6">
            <div ng-include="'views/user/templates/friend-list.view.client.html'"></div>
        </div>
    </div>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>