<div class="container-fluid">
    <h1>Register</h1>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <label for="username">Username</label>
    <input id="username"
           ng-model="username"
           type="text"
           class="form-control"
           placeholder="username"/>
    <label for="userType">User Type</label>
    <select id="userType"
            class="form-control"
            placeholder="Select your user type"
            data-ng-options="userType for userType in model.userTypes"
            data-ng-model="userType"></select>
    <label for="password">Password</label>
    <input id="password"
           ng-model="password"
           type="password"
           class="form-control"
           placeholder="password"/>
    <label for="verify_password">Verify Password</label>
    <input id="verify_password"
           ng-model="password2"
           type="password"
           class="form-control"
           placeholder="verify password"/>
    <a ng-click="model.register(username, password, password2, userType)"
       class="btn btn-primary btn-block">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#!/login">Cancel</a>
</div>
