<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ng-show="!model.guest"
               class="navbar-brand"
               href="#!/profile">
                <span class="glyphicon glyphicon glyphicon-menu-left"></span>
            </a>
            <a ng-show="model.guest"
               class="navbar-brand"
               href="#!/guest">
                <span class="glyphicon glyphicon glyphicon-menu-left"></span>
            </a>
            <a class="navbar-brand">
                User List
            </a>
        </div>
    </div>
</nav>

<ul class="list-group">
    <li class="list-group-item active">
        <div class="row">
            <div class="col-md-5 col-sm-8 col-xs-10">Friend ID</div>
        </div>
    </li>
    <li ng-repeat="user in model.users" class="list-group-item">
        <div class="row">
            <div ng-show="!model.guest"
                 class="col-xs-10 col-sm-11">
                {{user.username}}
            </div>
            <div ng-show="model.guest"
                 class="col-xs-10 col-sm-11">
                <a href="#!/guest/user/{{user._id}}">
                    {{user.username}}
                </a>
            </div>
            <div ng-show="!model.guest"
                 class="col-sm-1 col-xs-2 ">
                <a ng-click="model.addFriend(user._id)">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </a>
            </div>
        </div>
    </li>
</ul>